---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Octubre 2023 - Marzo 2024",
    title: "Desarrollador Web Full Stack",
    company: "CINEMI, UTP",
    description:
      `
      Responsabilidades:
      -Diseño y desarrollo de aplicaciones web, desde la obtención de requerimientos hasta la entrega final.
      -Creación de interfaces de usuario intuitivas y funcionales que mejoraron la experiencia del usuario.

      Logros:
      -Completó con éxito varios proyectos web dentro de plazos ajustados, mejorando la presencia digital del centro de investigación de la universidad.
    `,
    link: "http://proyectope-cinemi.utp.ac.pa/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
