---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Octubre 2023 - Marzo 2024",
    title: "Desarrollador Web Full Stack",
    company: "CINEMI, UTP",
    description:
      "Responsable de la creación, diseño y desarrollo completo del front-end de la página web. Colaboré estrechamente con el equipo de investigación para capturar y cumplir con los requisitos técnicos y funcionales del proyecto.",
    link: "http://proyectope-cinemi.utp.ac.pa/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
